
<div class="jumbotron">
    <div class="container">
         <h1 class="display-4">{{title}}</h1>
         <p class="lead">Do decode the secret message from your colleague, place the coded message bellow.</p>
         <hr class="my-4">
         <p class="lead">
             <strong>Email: </strong><a href="mailto:konstantin.bozhkov@yahoo.com" role="button">konstantin.bozhkov@yahoo.com</a>
         </p>
         <p class="lead">
             <strong>Tel: </strong><a href="tel:+44 75 46 86 7968">+44 75 46 86 7968</a>
         </p>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <div class="card">
          <div class="card-header">

              <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">
                <div class="form-group">
                    <label for="message">Secret code</label>
                    <input type="text" class="form-control" id="message" placeholder="ex. 8 5 12 12 15" formControlName="message">
                </div>
                <button class="btn btn-primary" type="submit">Decrypt</button>
              </form>

          </div>
          <div class="card-body">
              <h3 class="display-6">Message</h3>
              <hr class="my-4">
              <p class="lead" *ngIf="message">{{ message }}</p>
          </div>
        </div>

    </div>
  </div>
</div>


<router-outlet></router-outlet>
